#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.meeting-cards {
  display: flex;
  flex-wrap: wrap;
}

.meeting-card {
   /* Adjust the width of each meeting card */
  margin: 10px;
  background-color: #b58181;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.meeting-date-time p {
  margin: 0;
  font-weight: bold;
}

.meeting-info {
  margin-top: 8px;
}
.input-fields {
  width: 200px; /* Adjust width as needed */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the items horizontally */
  margin: 0 auto; /*
}

.input-fields input,
.input-fields textarea {
  width: 100%;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}
 .navbarstaff {
  background-color: #e8baba;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it appears above other content */
  /* Optional: Add a background color */
  width: 100%;
 margin-top: 0%;
 
}

.welcome-message {
  font-size: 20px; /* Adjust the font size as needed */
}

.nav-item {
  padding: 10px;
  font-size: 20px;
}

.navbarstaff .navbar-nav.nav-link {
  color: #fff;
  text-decoration: none;
  
}
.navbar-nav-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbarstaff.nav-link:hover {
  color: #ccc;
} 

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
